<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema</title>
    <!-- Inclua o CSS do Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/adega.css' %}" rel="stylesheet">

    <!-- Inclua o JavaScript do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>
<body>
    
    {% block menu %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-ifpr font-125 shadow">

        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/logo.png' %}" height="80" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">
                           <i class="fa fa-home" aria-hidden="true"></i>
                            Início
                        </a>
                    </li>

                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                            Cadastros
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            <a class="dropdown-item" href="{% url 'user_create' %}">Usuários</a>
        


                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            Listagens
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            <a class="dropdown-item" href="{% url 'user_list' %}">Usuários</a>



                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            Informações
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            <a class="dropdown-item" href="#">Infrações</a>



                        </div>
                    </li>

                    {% endif %}

                    <li class="nav-item ">
                        <a class="nav-link" href="#">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            Sobre
                        </a>
                    </li>
                    
                </ul>

                <ul class="navbar-nav">

                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                            <span id="username">{{ request.user }}</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                Meus dados</a>
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                                Alterar senha</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Sair</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'user_create' %}">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            Registrar
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            Login
                        </a>
                    </li>
                    {% endif %}

                </ul>
            </div>

            <!-- fim do container -->
        </div>
    </nav>

    {% endblock %}

    {% block content %}

    {% endblock %}
</body>
</html>
